.DS_Store
node_modules/
npm-debug.log*
yarn-error.log
yarn-debug.log
package-lock.json
.pnpm-debug.log
android/.gradle/
android/app/build/
android/build/
**/build/
android/local.properties
android/*.keystore
android/app/*.keystore
*.keystore
ios/Pods/
ios/DerivedData/
ios/build/
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
xcuserdata/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
.derivedData/
.sourcePackages/
*.moved-aside
*.xcscmblueprint
*.xcarchive
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
.expo/
.expo-shared/
web-build/
buck-out/
.buckd/
metro-cache/
.cache/
tmp/
.gradle/
**/gradle-wrapper.jar
*.jks
*.keystore
*.log
.env
.env.*
.env.local
.env.development
.env.production
.vscode/
.idea/
*.iml
.yarn/cache
.yarn/unplugged
.pnp.*
.yarn/patches
.yarn/build-state.yml
.yarn/install-state.gz
*.tsbuildinfo
coverage/
jest-cache/
jest-pnp-resolver-cache/
local.properties
*.jsbundle
*.map
pnpm-lock.yaml
.fastlane/
.circleci/
.github/workflows/*
